.candidates
{ 
background-color: #A9A9A9;
font: "Comic Sans MS", serif, bold; 
  color: #226;
h1
{  
  
   margin-left: 30em;;
  padding-bottom: 0.5em;
  font: 200% "Comic Sans MS", serif, bold; 
  color: black;

  
}
h2
{  
  
  padding-bottom: 0.5em;
  font: 200% "Comic Sans MS", serif, bold; 
  color: black;

  
}
h3
{
  margin-left: 100px;
  font: 150% "Times New Roman", serif, bold; 
  color: black;
}



mylink
{

  font: 100% "Comic Sans MS", serif, bold; 
    color: #226;

}


} 