.sessions
{
background-color: #A9A9A9;


.h1

{  margin-left: 200px;
  font: 100px/100px "Comic Sans MS", serif, bold, red; 

}
.legend
{
  font: 100px/100px "Comic Sans MS", serif, bold, red; 
}
.div
{
  margin-left: 50px;

}

.button1
{  padding-up: 10px;
   margin-left: 5em;
  width: 100px;
  height: 25px;
  background-repeat:no-repeat;
  display:block;
  float:left;
  background-color: #3EA055;
  border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;
  font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size:12px;
  line-height:130%;
  text-decoration:none;
  font-weight:bold;
  color:#565656;
  cursor:pointer;
  padding:5px 10px 6px 7px;
}


}

